/* ------Body layout css------ */

*,
*::before,
*::after{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}
body{
  width: 100%;
  margin:0;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #000;
}

.container{
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

section{
  padding: 2rem 0;
}
.section-bg{
  background-color: #fff;
  margin: auto;
}
a{
  color: #fff;
}

/* ------Typographie------ */

p{
  font-size: 10px;
}
p,
h1,
h2,
h3{
  margin: 0;
}
h1,
h2,
h3{
  line-height: 1;
}
  
/* ------header navigation menu css code------ */

.header {
  box-shadow: 1px 1px 4px 0 rgba(104, 105, 106, 10);
  background-color: #000;
  position: fixed;
  width: 100%;
  z-index: 3;

  }

.header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #000;
  line-height: 20px;
}

.header ul a{
  display: block;
  padding: 20px;
  border-right:1px solid #000;
  text-decoration: none;
  position: relative;
  right: 20px;
}

.header ul a:hover{
  background-color: rgb(53, 51, 51);
}

/* ------header logo and img logo.------ */

.header .logo {
  float: left;
  display: flex;
  position: relative;
  left: 20px;
  font-size: 0.5em;
  padding: 20px 20px;
  align-items:center;  
}
.logo-img{
  width: 20px;
  height: auto;
}
.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* ------menu class------ */

.header .menu-icon{
  padding: 28px 40px;
  position: relative;
  float: right;
}
.header .menu-icon .nav-icon{
  background: #fff;
  display: block;
  height: 2px;
  width: 10px;
  position: relative;
  transition: background .2s ease-out;
}
.header .menu-icon .nav-icon::before{
  background: #fff;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: 5px;
}
.header .menu-icon .nav-icon::after{
  background: #fff;
  content:"";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2s ease-out;
  top: -5px;
}
.header .menu-btn{
  display: none;
}

/* ------transforming menu button hamburger menu to X.------ */

.header .menu-btn:checked ~ .menu{
  max-height: 240px;
  padding-left: 40px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
  transform: rotate(45deg);
  top: 0;
}



/* ------Banner section ------ */

.img-banner{
  background-image: url("images/dolphinn-nexus-banner.jpg");
  position: relative;
  display: block;
  height: 500px;
  width: 100%;
  background-position: 40% 60%; 
  background-repeat: no-repeat; 
  background-size: cover; 
  padding: 50px 0;  
  overflow: hidden;
  transition: 0.5s ease;
}
.banner-text{
  text-align: right;
  text-transform: uppercase;
  padding: 5rem 0;
}
.banner-text h2{
  font-size: 16px;
  font-weight: 900;
  padding-bottom: 10px;
}
.banner-text h3{
  font-size: 12px;
  font-weight: 600;
}

/* ------Product section------ */
.product-header-title{
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 10px 0 ;
  text-transform: uppercase;
  font-weight: 600;
}
.product-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.product{
  background-color: #fff;
  height: 400px;
  width: 450px;
  margin: 10px;
  border-radius: 15px;
}

.products{  
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: auto;
  background-position: 60% 40%;
  margin-bottom: 15px;
  border-radius: 15px;
}
.product-img-1{
  background-image: url("images/dolphinn-nexus.jpg");
}
.product-img-2{
  background-image: url("images/dolphinn-nexusltd.jpg");
}
.product-img-3{
  background-image: url("images/dolphinn-giraf.jpg");
}
.product-img-4{
  background-image: url("images/dolphinn-nexusltdblack.jpg");
}
.product a{
  text-decoration: none;
  text-transform: uppercase;
}
.product a:hover{
  background-color: #6b0332;
  padding-left: 1.253rem;
  transition: all 0.5s ease;
}
.product-title{
  padding-left: 20px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 12px;
}
.product-btn{
  background-color: #970747;
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 12px;
  cursor: pointer;
}

/* ------Marketing section------ */

.bg-marketing{
  background-image: url("images/bg-sunset.jpg");
  position: relative;
  display: block;
  height: 500px;
  width: 100%;
  background-position: 40% 60%; 
  background-repeat: no-repeat; 
  background-size: cover; 
  padding: 50px 0;  
  overflow: hidden;
  transition: 0.5s ease;
}
.marketing-text{
  position: relative;
  top: 23rem;
  text-align: left;
  width: auto;
  height: 25%;
  text-transform: uppercase;
  padding: 1rem;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5); 
  transition: 0.5s ease;
}
.marketing-text h3{
  font-size: 20px;
  font-weight: 900;
  color: #fff;
  padding-bottom: 10px;
}
.marketing-text p{
  font-size: 10px;
  font-weight: 200;
}

/* ------Information section------ */


.info-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;  
}  
.info{ 
  display: block;  
  width: 40rem;
  margin: 10px;
}

.inform{  
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: auto;
}
.info-img{
  background-image: url("images/dolphinn-batt.jpg");
}
.info h3,
.info p{
  color: #000;
  padding: 20px 0;
}
.info h3{
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 10px;
}
.info p{
  font-size: 16px;
  font-weight: 600;
}
/* ------ Motorhub ------*/
.motor-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;  
}  
.motor{ 
  display: block;  
  width: 40rem;
  margin: 10px;  
}

.motors{  
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: auto;
}
.motor-img{
  background-image: url("images/dolphinn-motor.jpg");
}

.motor h3,
.motor p{
  color: #000;
  padding: 20px 0;
}
.motor h3{
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 10px;
}
.motor p{
  font-size: 16px;
  font-weight: 600;
}

/* ------ Charger ------ */

.charger-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;  
}  
.charger{ 
  display: block;  
  width: 40rem;
  margin: 10px;
}

.chargers{  
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: auto;
}
.charger-img{
  background-image: url("images/Dolphinn-charger.png");
}

.charger h3,
.charger p{
  color: #000;
  padding: 20px 0;
}
.charger h3{
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 10px;
}
.charger p{
  font-size: 16px;
  font-weight: 600;
}

/* ------------------------Ebike page css------------------------ */

/* ------Ebike section------ */

.ebike-header-title{
  text-align: center;
  color: #fff;
  font-size: 12px;
  padding: 10px 0 ;
  text-transform: uppercase;
  font-weight: 600;
}
.ebike-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.ebike{
  background-color: #fff;
  height: 420px;
  width: 400px;
  margin: 10px;
  border-radius: 15px;
}
.ebike a{
  cursor: pointer;
}
.ebike a:hover{
  
  padding-right: 1.253rem;
  transition: all 0.5s ease-in;
}

.ebikes{  
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: auto;
  background-position: 60% 40%;
  margin-bottom: 15px;
  border-radius: 15px;
}
.ebike-img-1{
  background-image: url("images/dolphinn-nexus.jpg");
}
.ebike-img-2{
  background-image: url('images/dolphinn-nexusltd.jpg');
}
.ebike-img-3{
  background-image: url('images/dolphinn-giraf.jpg');
}
.ebike-img-4{
  background-image: url('images/dolphinn-nexusltdblack.jpg');
}
.ebike-title{
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
}
.ebike-title a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ebike-title a:hover{
  color: #6b0332;
}
.ebike-price{
  padding: 5px;
  text-align: center;
  font-size: 12px;
  color: #000;
}
.ebike-price a{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.ebike-price a:hover{
  color: #6b0332;
}

/* ------Dolphinn Nexus/Nexus Ltd/Giraf/Nexus Ltd Blackline------ */
.bg-nexus{
  padding-top: 20px;
  background-color: #fff;
}

 ul.breadcrumb {
  padding: 0 16px;
  list-style: none;
  background-color: #fff;
}
ul.breadcrumb li {
  display: inline;
  font-size: 14px;
}

ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li a {
  color: #000;
  text-decoration: none;
  transition: all 0.5s ease;
}

ul.breadcrumb li a:hover {
  color: #970747;
  font-weight: bold;
} 

.nexus-section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

}
.nexus{
  display: block;
  height: auto;
  width: 300px;
  margin: 10px;
  border-radius: 15px;
}
.nexus a{
  cursor: pointer;
  color: rgb(18, 5, 199);
  text-decoration: none;
}
.nexus a:hover{
  color: rgb(20, 3, 248);
}
.nexus_bike{  
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 200px;
  width: auto;
  background-position: 60% 40%;
  margin-bottom: 15px;
  border-radius: 15px;
}
.nexus-img-1{
  background-image: url("images/dolphinn-nexus.jpg");
}
.nexus-img-2{
  background-image: url("images/dolphinn-nexusltd.jpg");
}
.nexus-img-3{
  background-image: url("images/dolphinn-giraf.jpg");
}
.nexus-img-4{
  background-image: url("images/dolphinn-nexusltdblack.jpg");
}
.nexus-title h2{
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
}
.nexus-title h3{
  font-size: 12px;
  font-weight: 600;
  padding-bottom: 5px;
}
.nexus-title p{
  font-size: 10px;  
}
.nexus-color{
  padding: 24px 0;
}
.nexus-color p{
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
  padding: 10px 0;
}
.nexus-color ul{
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, 0.1fr);
  grid-gap: 5px;
}
.nexus-color ul li{
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: #000 solid 1px;
}
.nexus-color ul li:hover{
  border: #970747 solid 3px;  
  transition: all 0.5s ease;
}

/*------Color Bikes------*/

#white:hover {
  background-color: #807d7d
}
#black {
  background-color: #000;
}
#black:hover {
  background-color: #807d7d
}
#orange {
  background-color: rgb(255, 140, 8);
}
#orange:hover {
  background-color: #807d7d
}

/*------ Bikes------*/

.nexus-price{
  padding-top: 50px; 
  font-size: 12px;
  color: #000;
}
#nexus-price{
  font-size: 20px;
  color: rgb(90, 89, 89);
}

/* ------Description nexus ebike------ */

.description{
  font-size: 10px;
  padding: 10px 0;
}

/* ------About Us Styling------ */
.bg-about{
  background-color: #fff;
  padding: 40px;
}
.about-section{
  display: block;
  position: relative;
  max-width: 1000px;
  margin: auto;
}
.about{
  align-content: center;
  width: auto;
}
.about-header{
  text-align: center;
}
.about-header h3{
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;  
}
.about-quote blockquote {
  font-size: 22px;
  font-weight: 900;
  font-style: italic;
  text-align: center;
  color: #970747;
}
.about-quote blockquote::before{
  content: '"';
}
.about-quote blockquote::after{
  content: '"';
}
.about p{
  font-size: 14px;
  font-weight: 200;
  padding: 10px 0;
}
.about-img{
position: relative;
width: 100%;
height: 100%;
padding: 10px 0;
}

/* ------CoNtact form and info------ */

.bg-contact{
  background-color: #fff;
  padding: 40px;
}
.contact-section{
  display: block;
  position: relative;
  max-width: 800px;
  margin: auto;
  padding-bottom: 50px;
}
.contact-header{
  text-align: inherit;
}
.contact-header h3{
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 10px;  
}
.contact{
  align-content: center;
  width: auto;  
}
.contact p{
  font-size: 14px;
  font-weight: 400;
  padding: 10px 0;
}

/*------Contactform input------*/


input[type=text],input[type=tel],input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background-color: #fff;
}
input[type=submit] {
  background-color: #970747;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #6b0332;
}
input[type=reset] {
  background-color: #970747;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
input[type=reset]:hover {
  background-color: #6b0332;
}

/* ------Newsletter and mail------ */

.news{
  box-sizing: border-box;
  display: flexbox;
  flex-flow: wrap;
  gap: 10px;
}
.newsletter{
  color: #fff;
  text-transform: uppercase;
  flex-basis: calc(100%);
}  
.news h3{
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 10px;
}
.newsletter p{
  font-size: 10px;
  font-weight: 200;
  padding-bottom: 10px;
}
.news-input{
  width: 100%;
  display: flex;
  flex-flow: column;
}
.news-email{
  position: relative;
  flex-direction: row;
  flex: 1 1 0%;
  display: flex;
  background-color: #383838;  
  height: 40px;
}
.news-email input[type=text]{
  width: 100%;
  height: 35px;
  display: inline-block;
  border: none;
  background-color: #383838;
  color: #bdbbbb;  
}
.news-btn{
  position: relative;
  display: flex;
  height: 40px;
}
.news-btn button{
  width: 100%;
  background-color: #970747 ;
  color: #fff; 
  border: none;
  cursor: pointer;
  padding: 10px 50px;
  text-transform: uppercase;
  font-weight: bold;
}
.news-btn button:hover{
  background-color: #970747;
}
.news-btn button:active{
  background-color: #970747;
  box-shadow: 0 5px rgb(48, 47, 47);
  transform: translateY(4px);
  transition: all 0.5 ease;
}

/* ------footer nav menu and social links------ */

.footer{
  width: 100%;
  padding: 10px 0;  
}
.footernav-row{
  width: 100%;
  top: 10px;
  position:relative;
  margin: auto;
}
.footernav-col{
 display: grid;
 grid-template-rows: repeat(2, 0.1fr);
 grid-auto-rows: minmax(3px, auto);
 gap: 10px;
}
.footernav-col h4{
  padding: 0 40px;  
  color: #fff;
  position: relative;
  font-size: 14px;
  border-bottom-style: dotted;
  border-bottom-color: #970747;
  border-bottom-width: thin;
}

.footernav-col ul{
  list-style: none;
}
.footernav-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footernav-col ul li a{
  text-decoration: none;
  color: #bdbbbb;
  font-size: 12px;
  transition: all 0.5s ease;
  cursor: pointer;
}
.footernav-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}

.footernav-col .social-icons a{
	display: inline-block;
	height: 20px;
	min-width: 20px;
	background-color: rgba(255, 255, 255, 0.267);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
/* ------Footer copyright css------ */
.footer-copy{
  position: relative;
  width: 100%;
  top: 50px;
  padding: 20px 0;
  }
.footer-copy p{
  color: #fff;
  text-align: center;
  font-size: 6px;
}

/* ------media queries for responsive webpage------ */


@media  (min-width:768px){
  html{
    scroll-padding-top: 100px;
  }
  .header li{
    float: left;
  }
  .header ul{
    line-height: 45px;
  }
  .header li a{
    padding: 20px 30px;
  }
  .header .menu{
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon{
    display: none;
  }
  .logo-img{
    width: 35px;
    height: auto;
  }
  .header .logo {
    font-size: 1em;
  }
  /*------ Banner ------*/
  .img-banner{
    overflow: visible;
    top: 60px;
    margin-bottom: 60px;
    height: 750px;
    background-position: 30% 70%;
  }
  .banner-text h2{
    font-size: 40px;
  }
  .banner-text h3{
    font-size: 30px;   
  }

  /*------ Marketing ------*/
  .marketing-text {
    width: 50%;
    top: 20rem;
  }
  .marketing-text h3{
    font-size: 30px;
    padding-bottom: 15px;
  }
  .marketing-text p{
    font-size: 12px;
  }

  /*------ Info ------*/
  .info-section{
    flex-direction: row-reverse;
    justify-content: space-around; 
  }  
  .info h3{
    font-size: 24px;
  }
  .info p{
    font-size: 20px;
  }
  /*------ Motor ------*/
  .motor-section{
    justify-content: space-around;
  }  
  .motor h3{
    font-size: 24px;
  }
  .motor p{
    font-size: 20px;
  }
  /*------ Charger ------*/
  .charger-section{
    flex-direction: row-reverse;
    justify-content: space-around;
  }  
  .charger h3{
    font-size: 24px;
  }
  .charger p{
    font-size: 20px;    
  }

    /*------ Nexus/nexus Ltd/Giraf/Nexus Ltd Blackline*/

  .nexus{
      width: 500px;
  }
  .nexus_bike{  
      min-height: 400px;  
  }
  .nexus-title h2{
    font-size: 30px;

  }
  .nexus-title h3{
    font-size: 20px;

  }
  .nexus-title p{
    font-size: 16px;
  }  
  .nexus-color button{
    font-size: 14px;
  }
  #nexus-price{
    font-size: 25px;
  }
  .about-section{
    justify-content: space-around;
  }
  .tech-section{
    justify-content: space-around;
  }

  /*------ About us ------*/
  .about-header h3{
    font-size: 30px;
  }
  .about-quote blockquote{
    font-size: 40px;
  }
  .about p{
    font-size: 20px;
    padding: 50px;
  }
  .about-img{
    padding-bottom: 50px;
  }

  /*------ newsletter ------*/
  .news{
    margin-inline: auto;
  }
  .newsletter{
    flex-basis: calc(30%);
  }
  .news-input{
    flex-flow: row;
  }
  /*------ Footer ------*/
  .footer{
    width: 100%;
      }
  .footernav-row{
    display:flex ;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footernav-col h4{
    font-size: 16px;
  }
  .footernav-col ul li a{
    font-size: 14px;
  }
  .footer-copy p{
    font-size: 11px;
  }


}
